.main {
  display: flex;
  /* place-items: center; */
  background-color: #dadbd3;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.task_panel {
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
  margin-top: 58px;
  width: 25vw;
  /* margin: auto auto; */
  height: 90vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin: auto 32px; */
}

.container_header {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
