.monthView_main ul {
  margin: 0;
  padding: 0;
}

.monthView_main li {
  float: left;
  display: block;
  width: 14.2857%;
  text-align: center;
  font-size: 1.05rem;
  list-style-type: none;
  line-height: 100px;
  height: 100px;
  font-weight: 700;
}

.monthView_main li:nth-child(n + 1):nth-child(-n + 7) {
  font-weight: 900;
  color: #e67e22;
}

.monthView_main li:hover:nth-child(n + 8):nth-child(-n + 38) {
  border-radius: 5px;
  background-color: #e67e22;
  color: #ecf0f1;
  cursor: pointer;
}

.sunday {
  color: rgb(255, 77, 77);
  cursor: not-allowed !important;
}

.active_date {
  background-color: #e67e22;
  border-radius: 5px;
  color: white;
}

.dots_panel {
  position: relative;
  top: -35%;
  display: flex;
  align-items: center;
  align-content: flex-start;
}

.dot {
  width: 8px;
  height: 8px;
  background: #ff2525;
  border-radius: 50%;
  margin: 0 auto;
  top: -35%;
}

.active_date .dot {
  background-color: white;
}

.fillers:hover {
  cursor: default !important;
  background-color: transparent !important;
}
